     <div class="well">
            <h4 ><strong>Nuevo administrador</strong></h4><br>
       	<div class="row">
	       <div class="col-md-6 ">
	               <input type="text" class="form-control" placeholder="Ingrese el nombre de usuario Diinf" ng-model="admin.usuario">
	                 
	               </input>
	        </div>
	        <div class="col-md-3">
			     <button class="btn btn-block btn-warning" ng-click="agregar()" ng-disabled="!admin.usuario" >
	            	Agregar
	        	</button>
	        </div>
      	</div>
      </div>